	footer a { 
			  color: black;
 			 }

	footer {
			clear: both;
			background-color: #282a2b;	
			left: 0;
			bottom: 0;
			width: 100%;
			}

	footer.contact {
			background: #2b2b2b;
			color: white;
		}